/*
 * Tharlon (Myanmar) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Tharlon';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
}

body {
    background-color: #333333;
    font-family: 'Tharlon', Myanmar3, Pyidaungsu, Yunghkio, Padauak;
}

.no-gutter > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}

.heading {
    background-color: #C5cae9;
    color: #EF6C00;
    border: 1px solid #999;
    text-shadow: 1px 1px #333333;
}

.img-flag {

}

#portfolio {
    max-width: 768px;
    margin: 20px auto;
}

.portfolio-box {
    border: 1px solid #333333;
    display: block;
    margin: 0 auto;
    max-width: 650px;
    position: relative;
}

.portfolio-box .portfolio-box-title {
   position: absolute;
   top: 3%;
   right: 3%;
   padding: 5px 10px;
   width: 25%;
   background: rgba(0, 0, 0, .5);
   color: #efefef;
   font-weight: bold;
}

.portfolio-box .portfolio-box-caption {
    background: rgba(192, 203, 233, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #000000;
    text-shadow: 1px 1px #333333;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.35s ease 0s;
    width: 100%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 22px;
    }
}
