/*
 * Tharlon (Myanmar) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Tharlon';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
}

hr {
    margin-top: 7px;
    margin-bottom: 10px;
}

.info {
    color: #666;
    font-size: smaller;
    text-align: center;
}

.privacy {
    font-size: smaller;
}

body {
    background-color: #FDF6E3;
    font-family: 'Tharlon', Myanmar3, Pyidaungsu, Yunghkio, Padauak;
}

.no-gutter > [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}

.heading img {
    margin-left: 20px;
}

#portfolio {
    max-width: 768px;
    margin: 20px auto;
}

.portfolio-box {
    display: block;
    margin: 3px auto;
    max-width: 320px !important;
    position: relative;
}

.portfolio-box .portfolio-box-title {
   position: absolute;
   left: 20px;
   top: 10px;
   padding: 5px 10px;
   width: 35%;
   background: rgba(0, 0, 0, .5);
   color: #f3f3f3;
   font-size: 13px;
   line-height: 1.5em;
}

.portfolio-box-caption {
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}

.portfolio-box .portfolio-box-overlay {
    background-color: rgba(229, 57, 53, 0.8);
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    bottom: 0;
    transition: all 0.35s ease 0s;
    position: absolute;
}

.portfolio-box .portfolio-box-overlay .portfolio-box-overlay-content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.portfolio-box:hover .portfolio-box-overlay {
    opacity: 1;
}
