/*
 * Tharlon (Myanmar) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Tharlon';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
    src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
}

hr {
    margin-top: 7px;
    margin-bottom: 10px;
}

.info {
    color: #666;
    font-size: smaller;
    text-align: center;
}

body {
    background-color: #FDF6E3;
    font-family: 'Tharlon', Myanmar3, Pyidaungsu, Yunghkio, Padauak;
}

.no-gutter > [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}

.heading img {
    margin-left: 20px;
}

#portfolio {
    max-width: 768px;
    margin: 20px auto;
}

.portfolio-box {
    border: 1px solid #333333;
    display: block;
    margin: 3px auto;
    max-width: 425px !important;
    position: relative;
}

.portfolio-box .portfolio-box-title {
   position: absolute;
   top: 3%;
   right: 3%;
   padding: 5px 10px;
   width: 25%;
   background: rgba(0, 0, 0, .5);
   color: #f3f3f3;
   font-weight: bold;
}

.portfolio-box .portfolio-box-caption {
    background-color: rgba(229, 57, 53, 0.8);
    text-shadow: 1px 1px #333333;
    transition: all 0.35s ease 0s;
    position: absolute;
    text-align: center;
    color: #f3f3f3;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    bottom: 0;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Tharlon', Myanmar3, Pyidaungsu, Yunghkio, Padauak;
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}


@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 22px;
    }
}